.Sepet{
    display: flex;
    height: 100vh;
    width: 679%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #c2a4d6;
}
.ortala{
    margin-left: 40;
}